Source: xivo-keyring
Section: misc
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)

Package: xivo-keyring
Architecture: all
Multi-Arch: foreign
Depends: gpgv, ${misc:Depends}
Description: GnuPG archive key of the Wazo repositories
 The Wazo repositories digitally signs its Release files. This
 package contains the repository key used for that.
